* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ヘッダー */
header {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}

.heading {
  width: 1024px;
  margin: 0 auto;
}

.header-logo {
  height: 70px; /* ロゴのサイズを合わせる */
  float: left; /* ロゴを左端に+横並び */
}

.nav-list {
  line-height: 70px;
  float: right; /* ナビを右端に+横並び */
}

.nav-item {
  margin: 0 30px;
  list-style: none;
  font-size: 16px;
  color: #FAFAFA;
  float: left; /* nav-listのfloat: rightで右端になったことでnav-itemが見切れるため左端に */
}

/* メインビジュアル */
.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.main-visual-title {
  padding-top: 200px;
  text-align: center;
  font-size: 64px;
  color: #FAFAFA;
}

.main-visual-text {
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
  color: #FAFAFA;
}

/* Portfolio */
.portfolio {
  background-color: #ECEFF1;
}

.portfolio-content {
  width: 920px;
  margin: 0 auto;
}

.portfolio-title {
  padding-top: 90px;
  text-align: center;
  font-size: 32px;
  color: #000;
}

.portfolio-title::after { /* ::afterで要素の最後に擬似要素追加 */
  content: ""; /* 下線の要素作成 */
  display: block; /* 要素をtitleの下に配置 */
  width: 70px;
  margin: 8px auto 0 auto; /* 下線を中央に配置 */
  border-bottom: 3px solid #EC715F;
}

.portfolio-text {
  padding: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #000;
}

.portfolio-image-box {
  padding-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
}

.p-image1 {
  background-image: url(img/sketch.jpg);
}

.p-image2 {
  background-image: url(img/websuku.png);
}

.p-image3 {
  background-image: url(img/write.jpg);
}

.p-image4 {
  background-image: url(img/webcamp.png);
}

.p-image5 {
  background-image: url(img/talk.jpg);
}

.p-image6 {
  background-image: url(img/webcamp-mother.png);
}

.portfolio-image {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
}

.portfolio-image:nth-child(3n+0) { /* 3,6番目（0,3,6,9...） */
  margin-right: 0;
}

.portfolio-image:nth-last-child(-n+3) { /* 最後から数えて3つ */
  margin-top: 10px;
}

/* Feature */
.feature {
  width: 100%;
}

.feature-content {
  width: 980px;
  margin: 0 auto;
}

.feature-title {
  padding-top: 90px;
  text-align: center;
  font-size: 32px;
  color: #000;
}

.feature-title::after {
  content: "";
  display: block;
  width: 70px;
  margin: 8px auto 0 auto;
  border-bottom: 3px solid #EC715F;
}

.feature-text {
  padding: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #000;
}

.strength-box {
  display: flex;
}

.strength {
  width: 320px;
  margin-bottom: 90px;
  text-align: center; /* ここに指定しないとアイコンが中央にならない */
}

.strength:nth-child(2) {
  margin: 0 10px 90px 10px;
}

.strength .fa {
  font-size: 60px;
}

.strength-title {
  margin: 10px 0;
  font-size: 20px;
  color: #000;
}

.strength-text {
  text-align: left; /* .strengthのプロパティで中央寄せになっているので左寄せに戻す */
}

/* Profile */
.profile {
  width: 100%;
  background-color: #ECEFF1;
}

.profile-content {
  width: 1024px;
  margin: 0 auto;
}

.profile-title {
  padding-top: 90px;
  text-align: center;
  font-size: 32px;
  color: #000;
}

.profile-title::after {
  content: "";
  display: block;
  width: 70px;
  margin: 8px auto 0 auto;
  border-bottom: 3px solid #EC715F;
}

.profile-text {
  padding: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #000;
}

.profile-bottom {
  display: flex;
}

.profile-box {
  width: 512px;
  margin-bottom: 90px;
}

.profile-image {
  border-radius: 50%; /* 画像の角丸半径を50%にする（=円形にする） */
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background-image: url(img/my-icon.jpg);
}

.profile-item:last-child {
  padding-top: 20px;
}

.profile-item-title {
  font-size: 20px;
}

.profile-item-text {
  font-size: 16px;
  color: #000;
  padding-top: 5px;
}

/* Contact */
.contact {
  width: 100%;
}

.contact-content {
  width: 800px;
  margin: 0 auto;
}

.contact-title {
  padding-top: 90px;
  text-align: center;
  font-size: 32px;
  color: #000;
}

.contact-title::after {
  content: "";
  display: block;
  width: 70px;
  margin: 8px auto 0 auto;
  border-bottom: 3px solid #EC715F;
}

.contact-text {
  padding: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #000;
}

.contact-bottom {
  width: 400px;
}

.contact-left {
  width: 400px;
  margin-bottom: 90px;
  float: left;
}

.contact-right {
  width: 400px;
  margin-bottom: 90px;
  float: right;
}

.contact-left-item,
.contact-right-item {
  width: 50%;
  margin: 0 auto;
}

.contact-left-item {
  width: 130px;
}

.contact-right-item {
  width: 180px;
}

.contact-item-title {
  font-size: 20px;
  margin: 20px 0 5px 0;
}

.contact-item-title:first-child {
  margin-top: 0;
}

.contact-item-text {
  text-decoration:underline;
}

.contact-right-item .fa {
  font-size: 50px;
}

.fa-twitter {
  margin: 0 20px;
}
