* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ヘッダー */
header {
  height: 70px;
}

.heading {
  width: 1024px;
  margin: 0 auto;
  display: flex;
}

.header-nav {
  margin-left: auto; /* ナビゲーション右寄せ */
}

.header-logo {
  height: 70px; /* ロゴのサイズを合わせる */
}

.nav-list {
  line-height: 70px;
  display: flex;
}

.nav-item {
  margin: 0 30px;
  list-style: none;
  font-size: 16px;
  color: #FAFAFA;
}

/* メインビジュアル */
.main-visual {
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.mv-title {
  padding-top: 200px;
  text-align: center;
  font-size: 64px;
  color: #FAFAFA;
}

.mv-text {
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
  color: #FAFAFA;
}

/* Portfolio */
.portfolio-content {
  width: 920px;
  margin: 0 auto;
}

.portfolio-image-box {
  padding-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
}

.p-image1 {
  background-image: url(img/sketch.jpg);
}
.p-image2 {
  background-image: url(img/websuku.png);
}
.p-image3 {
  background-image: url(img/write.jpg);
}
.p-image4 {
  background-image: url(img/webcamp.png);
}
.p-image5 {
  background-image: url(img/talk.jpg);
}
.p-image6 {
  background-image: url(img/webcamp-mother.png);
}

.portfolio-image {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
}

.portfolio-image:nth-child(3n+0) { /* 3,6番目（0,3,6,9...） */
  margin-right: 0;
}

.portfolio-image:nth-last-child(-n+3) { /* 最後から数えて3つ */
  margin-top: 10px;
}

/* Feature */
.feature-content {
  width: 980px;
  margin: 0 auto;
}

.strength {
  display: flex;
}

.s-content {
  width: 320px;
  margin-bottom: 90px;
  text-align: center; /* ここに指定しないとアイコンが中央にならない */
}

.s-content:nth-child(2) {
  margin: 0 10px 90px 10px;
}

.s-content .fa {
  font-size: 60px;
}

.s-title {
  margin: 10px 0;
  font-size: 20px;
  color: #000;
}

.s-text {
  text-align: left; /* .strengthのプロパティで中央寄せになっているので左寄せに戻す */
}

/* Profile */
.profile-content {
  width: 1024px;
  margin: 0 auto;
}

.profile-bottom {
  display: flex;
}

.pro-box {
  width: 512px;
  margin-bottom: 90px;
}

.pro-image {
  border-radius: 50%; /* 画像の角丸半径を50%にする（=円形にする） */
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background-image: url(img/my-icon.jpg);
}

.pro-item:last-child {
  padding-top: 20px;
}

.pro-title {
  font-size: 20px;
}

.pro-text {
  font-size: 16px;
  color: #000;
  padding-top: 5px;
}

/* Contact */
.contact-content {
  width: 800px;
  margin: 0 auto;
}

.contact-bottom {
  display: flex;
}

.contact-left,
.contact-right {
  width: 50%;
  margin-bottom: 90px;
}

.c-left-item,
.c-right-item { /* widthを半分にして中央寄せ　*/
  width: 50%;
  margin: 0 auto;
}

.c-left-item { /* 一番横幅のあるTelの番号にwidthを合わせる　*/
  width: 130px;
}

.c-right-item { /* アイコンサイズ×3 + marginにwidthを合わせる */
  width: 178px;
}

.c-title {
  font-size: 20px;
  margin: 20px 0 5px 0;
}

.c-title:first-child { /* MailとSNSのmargin-topを0に */
  margin-top: 0;
}

.c-text {
  text-decoration:underline; /* 下線追加 */
}

.c-right-item .fa {
  font-size: 50px;
}

.fa-twitter {
  margin: 0 20px;
}

/* フッター */
footer {
  height: 60px;
}

.footer-text {
  font-size: 16px;
  text-align: center;
  line-height: 60px;
  color: #FAFAFA;
}

/* まとめ */
header,
footer {
  background-color: #EC715F;
}

header,
.main-visual,
.portfolio,
.feature,
.profile,
.contact,
footer {
  width: 100%;
}

.portfolio,
.profile {
  background-color: #ECEFF1;
}

.content-title {
  padding-top: 90px;
  text-align: center;
  font-size: 32px;
  color: #000;
}

.content-title::after { /* ::afterで要素の最後に擬似要素追加 */
  content: ""; /* 下線の要素作成 */
  display: block; /* 要素をtitleの下に配置 */
  width: 70px;
  margin: 8px auto 0 auto; /* 下線を中央に配置 */
  border-bottom: 3px solid #EC715F;
}

.content-text {
  padding: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #000;
}